@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 18px;
    background: #141233;
    color: #fff;
}

.layoutContainer { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.leftBox { 
    width: 15%;
    min-width: 250px;
    height: 100%;
}

.leftBox .leftBoxInner { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - 40px);
    padding: 20px;
}

.leftBox .logo { 
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin: -20px 0 30px -20px;
}

.leftBox .logo img { 
    width: 100%;
    height: 100%;
}

.leftBox .leftBoxInner .loginBox { 
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 30px;
}

.leftBox .leftBoxInner .loginBox .loginBoxInner { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.leftBox .leftBoxInner .loginBox img { 
    border-radius: 100%;
    background: #F8CACC;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.leftBox .leftBoxInner .loginBox .loginText { 
    font-size: 18px;
}

.leftBox .postButton { 
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background: #FFD0D0;
    color: #000;
}

.feedBox { 
    width: 65%;
    height: 100%;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.feedBox .feedBoxInner { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - 40px);
    padding: 20px;
}

.feedBox .feedBoxInner .feedList { 
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.feedBox .feedBoxInner .feedList .feedItem { 
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
}

.feedBox .feedBoxInner .feedList .feedItem .userInfo { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.feedBox .feedBoxInner .feedList .feedItem .userInfo img { 
    border-radius: 100%;
    background: #F8CACC;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.feedBox .feedBoxInner .feedList .feedItem .userInfo .userName { 
    font-size: 18px;
}

.feedBox .feedBoxInner .feedList .feedItem .feedContent { 
    width: 100%;
    background: #CC8798;
    border-radius: 20px;
}

.feedBox .feedBoxInner .feedList .feedItem .feedContent .feedText { 
    margin: 20px;
    padding: 20px;
    background: #FFD0D0;
    border-radius: 20px;
    color: #000;
    word-wrap: break-word;
    word-break: keep-all;
}

.rightBox { 
    width: 20%;
    min-width: 350px;
    height: 100%;
}

.rightBox .rightBoxInner { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - 40px);
    padding: 20px;
}

.rightBox .searchBox { 
    flex-shrink: 0;
    position: relative;
    margin-bottom: 30px;
}

.rightBox .searchBox .searchInput { 
    width: calc(100% - 50px);
    height: 35px;
    border: 0;
    border-radius: 30px;
    padding: 0 10px 0 40px;
}

.rightBox .searchBox .searchButton { 
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 0;
}

.rightBox .rightBoxInner .userList { 
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    flex-grow: 1;
    overflow-y: auto;
}

.rightBox .rightBoxInner .userList .userItem { 
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.rightBox .rightBoxInner .userList .userItem .userInfo { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.rightBox .rightBoxInner .userList .userItem .userInfo img { 
    border-radius: 100%;
    background: #F8CACC;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.rightBox .rightBoxInner .userList .userItem .userInfo .userName { 
    font-size: 16px;
}

.rightBox .rightBoxInner .userList .userItem .recentContent { 
    padding: 20px;
    background: #FFD0D0;
    border-radius: 20px;
}

.rightBox .rightBoxInner .userList .userItem .recentContent .contentTitle { 
    font-size: 16px;
    color: #000;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rightBox .rightBoxInner .weatherBox { 
    flex-shrink: 0;
    display: block;
    width: 100%;
    height: 200px;
    background: #000;
    border-radius: 20px;
}

.rightBox .copyRight { 
    flex-shrink: 0;
    padding: 50px 30px;
    align-items: center;
    text-align: center;
}

.rightBox .copyRight p { 
    font-size: 12px;
}
.rightBox .copyRight p:nth-child(1) { 
    margin-bottom: 20px;
}